## Import Libraries

In [ ]:
import pandas as pd

## Load Data

In [ ]:
part_dev_hist_path = "/content/drive/MyDrive/brainmath/ses_T1/developmental_history_questionnaire_sesT1.tsv"
wjiii_T1_path = "/content/drive/MyDrive/brainmath/ses_T1/wj-III_sesT1.tsv"
participant_path = "/content/drive/MyDrive/brainmath/participants.tsv"
wjiii_T2_path = "/content/drive/MyDrive/brainmath/ses_T2/wj-III_sesT2.tsv"

In [ ]:
participants_df = pd.read_csv(participant_path, sep='\t')
participants_df.head()

,participant_id,age_ses-T1,age_ses-T2,sex,handedness,ses-T1_task-Mult_run-01,ses-T1_task-Mult_run-02,ses-T1_task-Num_run-01,ses-T1_task-Num_run-02,ses-T1_task-Rhyming,ses-T1_task-Sub_run-01,ses-T1_task-Sub_run-02,ses-T2_task-Mult_run-01,ses-T2_task-Mult_run-02,ses-T2_task-Num_run-01,ses-T2_task-Num_run-02,ses-T2_task-Rhyming,ses-T2_task-Sub_run-01,ses-T2_task-Sub_run-02
0,sub-001,8.36,10.87,1,1,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes
1,sub-002,9.23,11.28,2,2,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,no,yes,yes
2,sub-003,10.68,NaN,2,2,yes,yes,yes,yes,yes,yes,yes,no,no,no,no,no,no,no
3,sub-004,9.93,NaN,2,2,yes,yes,yes,yes,yes,yes,yes,no,no,no,no,no,no,no
4,sub-005,11.98,14.34,1,2,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes

In [ ]:
wjiii_T1_df = pd.read_csv(wjiii_T1_path, sep='\t')
wjiii_T1_df.head()

,participant_id,WJ-III_WordID_Raw,WJ-III_WordID_StS,WJ-III_WA_Raw,WJ-III_WA_StS,WJ-III_PassComp_Raw,WJ-III_PassComp_StS,WJ-III_MathFluency_Raw,WJ-III_MathFluency_StS,WJ-III_SpatialRelations_Raw,WJ-III_SpatialRelations_Letter,WJ-III_SpatialRelations_StS,WJ-III_BRS_StS
0,sub-001,58,123,21,109,33,121,53,112,75,D,130,118
1,sub-002,54,110,23,107,34,118,63,111,71,D,116,116
2,sub-003,63,119,29,116,34,109,65,99,70,D,108,119
3,sub-004,60,117,28,115,34,114,41,83,73,D,118,117
4,sub-005,63,113,27,107,32,98,126,130,70,D,106,111

In [ ]:
wjiii_T2_df = pd.read_csv(wjiii_T2_path, sep='\t')
wjiii_T2_df.head()

,participant_id,WJ-III_WordID_Raw,WJ-III_WordID_StS,WJ-III_WA_Raw,WJ-III_WA_StS,WJ-III_PassComp_Raw,WJ-III_PassComp_StS,WJ-III_MathFluency_Raw,WJ-III_MathFluency_StS,WJ-III_SpatialRelations_Raw,WJ-III_SpatialRelations_Letter,WJ-III_SpatialRelations_StS,WJ-III_BRS_Sts
0,sub-001,NaN,NaN,NaN,NaN,NaN,NaN,115.0,131.0,NaN,NaN,NaN,NaN
1,sub-002,NaN,NaN,NaN,NaN,NaN,NaN,56.0,84.0,NaN,NaN,NaN,NaN
2,sub-003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sub-004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sub-005,NaN,NaN,NaN,NaN,NaN,NaN,134.0,119.0,NaN,NaN,NaN,NaN

In [ ]:
part_dev_hist_df = pd.read_csv(part_dev_hist_path, sep='\t')
part_dev_hist_df.head()

,participant_id,speech_delay,speech_delay_explanation,speech_language_therapy,struggle_reading,struggle_reading_explanation,reading_disability_tested,reading_disability_diagnosis,tutoring_reading,struggle_math,...,father_learning_problems,father_speech_problems,father_behavioral_problems,father_medical_problems,father_emotional_problems,father_drug_alcohol_abuse,family_history_learning_problems,family_history_ADD,family_history_behavioral_problems,family_history_neurological_problems
0,sub-001,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
1,sub-002,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,sub-003,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,sub-004,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,sub-005,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,1.0,...,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0

# Task
The refined selection process aimed to create balanced Math Learning Difficulty and Control groups, each with up to 15 participants, based on their participation in T2 tasks and specific T1 math performance criteria.

First, initial candidate pools were established:
- **Math Learning Difficulty Group Candidates**: Participants who reported struggling with math ('struggle_math' == 1) and had a 'WJ-III_MathFluency_StS' score less than 90.
- **Control Group Candidates**: Participants who reported not struggling with math ('struggle_math' == 2) and had a 'WJ-III_MathFluency_StS' score of 90 or greater.

A critical step in this iteration was to ensure that only participants who fully participated in and completed *all* specified T2 tasks were considered. This involved:
1. Creating a 'T2_participated' boolean column in `participants_df` based on the `age_ses-T2` column not being null.
2. Merging `participants_df` with both candidate DataFrames to incorporate demographic information ('sex', 'age_ses-T1', 'handedness', 'T2_participated') and *all* relevant T2 task status columns (e.g., 'ses-T2_task-Mult_run-01', 'ses-T2_task-Num_run-01', etc.).
3. Strictly filtering both the `math_difficulty_candidates_demographics` and `control_group_candidates_demographics` DataFrames to retain only participants where 'T2_participated' is `True` AND *all* 'ses-T2_task-*' columns indicated 'yes'.

Finally, from these strictly T2-filtered candidate pools, a group balancing strategy was implemented to select up to 15 participants for each final group. The balancing prioritized exact matches for 'sex' and 'handedness', followed by the closest possible match for 'age_ses-T1'. Each participant was selected only once.

This stringent filtering and balancing process resulted in the following final groups:

**Math Learning Difficulty Group:**
- **Total Participants**: 15
- **Demographic Characteristics**:
    - `participant_id`, `struggle_math`, `WJ-III_MathFluency_StS`, `sex`, `age_ses-T1`, `handedness`, `T2_participated`, and relevant T2 task columns were selected.
    - Specific distributions for sex, handedness, and age are detailed in the displayed table.
- **Balancing Criteria Met**: 15 participants were successfully matched, ensuring that each participant had a corresponding control.
- **Limitations**: The strict requirement for T2 participation and completion of *all* T2 tasks significantly reduced the pool of eligible candidates, making it challenging to find exact demographic matches for all 15 pairs. While exact matches for sex and handedness were prioritized, age matching was optimized for proximity.

**Control Group:**
- **Total Participants**: 15
- **Demographic Characteristics**:
    - `participant_id`, `struggle_math`, `WJ-III_MathFluency_StS`, `sex`, `age_ses-T1`, `handedness`, `T2_participated`, and relevant T2 task columns were selected.
    - Specific distributions for sex, handedness, and age are detailed in the displayed table.
- **Balancing Criteria Met**: 15 participants were successfully matched.
- **Limitations**: Similar to the Math Learning Difficulty Group, the strict T2 criteria limited the candidate pool, impacting the ease of finding perfect age matches while maintaining sex and handedness balance.

**Overall Impact on Sample Size**: The primary limitation encountered was the trade-off between strict matching criteria and the number of available participants. While the goal of 15 participants per group was met, this required careful consideration of age differences where perfect matches were not available. The strict T2 task completion requirement ensures data quality for longitudinal analysis but inherently reduces the overall sample size available for group formation.

This refined approach successfully created two demographically balanced groups with confirmed full T2 participation and task completion, laying a robust foundation for further analysis.

## Prepare Candidate Pools with All Demographics and T2 Task Status

### Subtask:
Create a 'T2_participated' boolean column in `participants_df` and merge this DataFrame with the previously identified `math_difficulty_candidates` and `control_group_candidates` to include demographic information ('sex', 'age_ses-T1', 'handedness', 'T2_participated') and all relevant T2 task status columns.

**Reasoning**:
I will create the 'T2_participated' column, identify and select all relevant demographic and T2 task columns from `participants_df`, and then merge this information with `math_difficulty_candidates` and `control_group_candidates`.

In [ ]:
participants_df['T2_participated'] = participants_df['age_ses-T2'].notna()

t2_task_columns = [col for col in participants_df.columns if col.startswith('ses-T2_task-')]
demographics_and_T2_tasks_df = participants_df[['participant_id', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns]

math_difficulty_candidates_demographics_t2 = pd.merge(
    math_difficulty_candidates,
    demographics_and_T2_tasks_df,
    on='participant_id',
    how='inner'
)

control_group_candidates_demographics_t2 = pd.merge(
    control_group_candidates,
    demographics_and_T2_tasks_df,
    on='participant_id',
    how='inner'
)

print("Math Difficulty Candidates with Demographics and T2 Tasks (first 5 rows):")
print(math_difficulty_candidates_demographics_t2.head())
print("\nControl Group Candidates with Demographics and T2 Tasks (first 5 rows):")
print(control_group_candidates_demographics_t2.head())

Math Difficulty Candidates with Demographics and T2 Tasks (first 5 rows):
  participant_id  speech_delay speech_delay_explanation  \
0        sub-004           2.0                      NaN
1        sub-039           2.0                      NaN
2        sub-051           2.0                      NaN
3        sub-052           2.0             ch, TH words
4        sub-059           2.0                      NaN

   speech_language_therapy  struggle_reading  \
0                      2.0               2.0
1                      2.0               2.0
2                      2.0               2.0
3                      2.0               1.0
4                      1.0               2.0

                       struggle_reading_explanation  \
0                                               NaN
1                                               NaN
2                                               NaN
3  She has trouble spelling and sounding out words.
4                                               NaN

   reading_disability_tested reading_disability_diagnosis  tutoring_reading  \
0                          2                          NaN               2.0
1                          2                          NaN               2.0
2                          2                          NaN               2.0
3                          1                no disability               2.0
4                          2                          NaN               2.0

   struggle_math  ...  age_ses-T1 handedness  T2_participated  \
0            1.0  ...        9.93          2            False
1            1.0  ...       13.40          2            False
2            1.0  ...       11.97          2            False
3            1.0  ...       12.45          2             True
4            1.0  ...       12.91          2             True

  ses-T2_task-Mult_run-01  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01  \
0                      no                       no                     no
1                      no                       no                     no
2                      no                       no                     no
3                      no                       no                     no
4                     yes                      yes                    yes

   ses-T2_task-Num_run-02 ses-T2_task-Rhyming  ses-T2_task-Sub_run-01  \
0                      no                  no                      no
1                      no                  no                      no
2                      no                  no                      no
3                      no                  no                      no
4                     yes                 yes                     yes

   ses-T2_task-Sub_run-02
0                      no
1                      no
2                      no
3                      no
4                     yes

[5 rows x 72 columns]

Control Group Candidates with Demographics and T2 Tasks (first 5 rows):
  participant_id  speech_delay         speech_delay_explanation  \
0        sub-001           2.0                              NaN
1        sub-002           2.0                              NaN
2        sub-003           2.0                              NaN
3        sub-007           2.0                              NaN
4        sub-008           1.0  IEP Speech Therapy.  "R" sounds

   speech_language_therapy  struggle_reading struggle_reading_explanation  \
0                      2.0               2.0                          NaN
1                      2.0               2.0                          NaN
2                      2.0               2.0                          NaN
3                      2.0               2.0                          NaN
4                      1.0               2.0                          NaN

   reading_disability_tested reading_disability_diagnosis  tutoring_reading  \
0                          2                          NaN               2.0
1                          2                          NaN               2.0
2                          2                          NaN               2.0
3                          2                          NaN               2.0
4                          2                          NaN               2.0

   struggle_math  ...  age_ses-T1 handedness  T2_participated  \
0            2.0  ...        8.36          1             True
1            2.0  ...        9.23          2             True
2            2.0  ...       10.68          2            False
3            2.0  ...       10.32          2             True
4            2.0  ...       13.14          2             True

  ses-T2_task-Mult_run-01  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01  \
0                     yes                      yes                    yes
1                     yes                      yes                    yes
2                      no                       no                     no
3                     yes                      yes                    yes
4                     yes                      yes                    yes

   ses-T2_task-Num_run-02 ses-T2_task-Rhyming  ses-T2_task-Sub_run-01  \
0                     yes                 yes                     yes
1                     yes                  no                     yes
2                      no                  no                      no
3                     yes                 yes                     yes
4                     yes                 yes                     yes

   ses-T2_task-Sub_run-02
0                     yes
1                     yes
2                      no
3                     yes
4                     yes

[5 rows x 72 columns]

**Reasoning**:
I need to filter both the `math_difficulty_candidates_demographics_t2` and `control_group_candidates_demographics_t2` DataFrames to include only participants who fully participated in and completed *all* specified T2 tasks. This requires ensuring 'T2_participated' is `True` and all 'ses-T2_task-*' columns indicate 'yes'.

In [ ]:
t2_task_columns = [col for col in participants_df.columns if col.startswith('ses-T2_task-')]

# Filter math difficulty candidates for T2 participation and all 'yes' in T2 tasks
math_difficulty_candidates_T2_full = math_difficulty_candidates_demographics_t2[
    (math_difficulty_candidates_demographics_t2['T2_participated'] == True) &
    (math_difficulty_candidates_demographics_t2[t2_task_columns] == 'yes').all(axis=1)
]

# Filter control group candidates for T2 participation and all 'yes' in T2 tasks
control_group_candidates_T2_full = control_group_candidates_demographics_t2[
    (control_group_candidates_demographics_t2['T2_participated'] == True) &
    (control_group_candidates_demographics_t2[t2_task_columns] == 'yes').all(axis=1)
]

print("Math Difficulty Candidates after full T2 filter (first 5 rows):")
print(math_difficulty_candidates_T2_full[['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns].head())

print("\nControl Group Candidates after full T2 filter (first 5 rows):")
print(control_group_candidates_T2_full[['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns].head())

Math Difficulty Candidates after full T2 filter (first 5 rows):
  participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
4        sub-059            1.0                      77    1       12.91
5        sub-065            1.0                      81    1       10.13
6        sub-067            1.0                      71    2       14.04
7        sub-069            1.0                      84    2       13.21
8        sub-071            1.0                      88    1        8.64

   handedness  T2_participated ses-T2_task-Mult_run-01  \
4           2             True                     yes
5           2             True                     yes
6           2             True                     yes
7           2             True                     yes
8           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
4                     yes                    yes                    yes
5                     yes                    yes                    yes
6                     yes                    yes                    yes
7                     yes                    yes                    yes
8                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
4                 yes                    yes                    yes
5                 yes                    yes                    yes
6                 yes                    yes                    yes
7                 yes                    yes                    yes
8                 yes                    yes                    yes

Control Group Candidates after full T2 filter (first 5 rows):
  participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
0        sub-001            2.0                     112    1        8.36
3        sub-007            2.0                     128    2       10.32
4        sub-008            2.0                     104    2       13.14
5        sub-009            2.0                     118    2        8.47
6        sub-010            2.0                      93    1       10.62

   handedness  T2_participated ses-T2_task-Mult_run-01  \
0           1             True                     yes
3           2             True                     yes
4           2             True                     yes
5           2             True                     yes
6           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
0                     yes                    yes                    yes
3                     yes                    yes                    yes
4                     yes                    yes                    yes
5                     yes                    yes                    yes
6                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0                 yes                    yes                    yes
3                 yes                    yes                    yes
4                 yes                    yes                    yes
5                 yes                    yes                    yes
6                 yes                    yes                    yes

**Reasoning**:
Now that both the Math Learning Difficulty and Control group candidates have been thoroughly filtered to include only those with full T2 participation, the next step is to implement the group balancing strategy. This involves iterating through the math difficulty candidates, finding the best control match based on sex, handedness, and closest age, and then collecting these matched pairs into final balanced groups.

In [ ]:
max_group_size = 15

matched_math_rows = []
matched_control_rows = []

# Create copies to allow removal of selected participants without modifying the original filtered DataFrames
math_candidates_temp = math_difficulty_candidates_T2_full.copy()
control_candidates_temp = control_group_candidates_T2_full.copy()

# Define the columns that should be included in the final balanced groups
columns_to_select = ['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns

for index_math, math_participant in math_candidates_temp.iterrows():
    if len(matched_math_rows) >= max_group_size: # Stop if group is full
        break

    best_match_control = None
    min_age_diff = float('inf')

    # Filter control candidates for exact matches on categorical variables (sex, handedness, T2_participated)
    # T2_participated is already True for both candidate pools, but keeping it in for consistency
    filtered_controls = control_candidates_temp[
        (control_candidates_temp['sex'] == math_participant['sex']) &
        (control_candidates_temp['handedness'] == math_participant['handedness']) &
        (control_candidates_temp['T2_participated'] == math_participant['T2_participated'])
    ]

    # If exact matches found on categorical variables, find the one with closest age
    if not filtered_controls.empty:
        for index_control, control_participant in filtered_controls.iterrows():
            age_diff = abs(math_participant['age_ses-T1'] - control_participant['age_ses-T1'])
            if age_diff < min_age_diff:
                min_age_diff = age_diff
                best_match_control = control_participant

    if best_match_control is not None:
        # Add participants to lists
        matched_math_rows.append(math_participant[columns_to_select].to_dict())
        matched_control_rows.append(best_match_control[columns_to_select].to_dict())

        # Remove selected participants from temporary pools by their original index
        math_candidates_temp = math_candidates_temp.drop(index_math)
        control_candidates_temp = control_candidates_temp.drop(best_match_control.name)

# Convert lists of dictionaries to DataFrames
balanced_math_group_final = pd.DataFrame(matched_math_rows, columns=columns_to_select)
balanced_control_group_final = pd.DataFrame(matched_control_rows, columns=columns_to_select)

print(f"Balanced Math Learning Difficulty Group size: {len(balanced_math_group_final)}")
print(f"Balanced Control Group size: {len(balanced_control_group_final)}")
print("Balanced Math Learning Difficulty Group (first 5 rows):\n", balanced_math_group_final.head())
print("Balanced Control Group (first 5 rows):\n", balanced_control_group_final.head())

Balanced Math Learning Difficulty Group size: 15
Balanced Control Group size: 15
Balanced Math Learning Difficulty Group (first 5 rows):
   participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
0        sub-059            1.0                      77    1       12.91
1        sub-065            1.0                      81    1       10.13
2        sub-067            1.0                      71    2       14.04
3        sub-069            1.0                      84    2       13.21
4        sub-071            1.0                      88    1        8.64

   handedness  T2_participated ses-T2_task-Mult_run-01  \
0           2             True                     yes
1           2             True                     yes
2           2             True                     yes
3           2             True                     yes
4           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
0                     yes                    yes                    yes
1                     yes                    yes                    yes
2                     yes                    yes                    yes
3                     yes                    yes                    yes
4                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0                 yes                    yes                    yes
1                 yes                    yes                    yes
2                 yes                    yes                    yes
3                 yes                    yes                    yes
4                 yes                    yes                    yes
Balanced Control Group (first 5 rows):
   participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
0        sub-090            2.0                     100    1       12.81
1        sub-036            2.0                     100    1       10.12
2        sub-013            2.0                     104    2       13.65
3        sub-008            2.0                     104    2       13.14
4        sub-057            2.0                     108    1        9.54

   handedness  T2_participated ses-T2_task-Mult_run-01  \
0           2             True                     yes
1           2             True                     yes
2           2             True                     yes
3           2             True                     yes
4           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
0                     yes                    yes                    yes
1                     yes                    yes                    yes
2                     yes                    yes                    yes
3                     yes                    yes                    yes
4                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0                 yes                    yes                    yes
1                 yes                    yes                    yes
2                 yes                    yes                    yes
3                 yes                    yes                    yes
4                 yes                    yes                    yes

## Display Final Balanced Groups

### Subtask:
Print the 'participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated', and relevant T2 task columns for all selected participants in both the newly balanced Math Learning Difficulty Group and Control Group. Also, report the total number of participants in each group.

**Reasoning**:
I need to display the specified columns for the final balanced Math Learning Difficulty Group and Control Group, and report the total number of participants in each group, as per the subtask instructions.

In [ ]:
print("\nFinal Math Learning Difficulty Group:")
print(balanced_math_group_final[['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns].to_string())
print(f"Total participants in Math Learning Difficulty Group: {len(balanced_math_group_final)}")

print("\nFinal Control Group:")
print(balanced_control_group_final[['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns].to_string())
print(f"Total participants in Control Group: {len(balanced_control_group_final)}")

Final Math Learning Difficulty Group:
   participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  handedness  T2_participated ses-T2_task-Mult_run-01 ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02 ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0         sub-059            1.0                      77    1       12.91           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
1         sub-065            1.0                      81    1       10.13           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
2         sub-067            1.0                      71    2       14.04           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
3         sub-069            1.0                      84    2       13.21           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
4         sub-071            1.0                      88    1        8.64           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
5         sub-075            1.0                      79    2       14.06           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
6         sub-076            1.0                      77    1       11.15           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
7         sub-077            1.0                      80    2        9.94           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
8         sub-078            1.0                      73    2       12.19           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
9         sub-083            1.0                      82    2       11.58           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
10        sub-088            1.0                      80    2        9.90           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
11        sub-095            1.0                      76    1       11.33           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
12        sub-096            1.0                      79    2       10.90           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
13        sub-103            1.0                      86    2       10.09           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
14        sub-106            1.0                      74    1       12.22           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
Total participants in Math Learning Difficulty Group: 15

Final Control Group:
   participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  handedness  T2_participated ses-T2_task-Mult_run-01 ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02 ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0         sub-090            2.0                     100    1       12.81           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
1         sub-036            2.0                     100    1       10.12           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
2         sub-013            2.0                     104    2       13.65           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
3         sub-008            2.0                     104    2       13.14           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
4         sub-057            2.0                     108    1        9.54           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
5         sub-070            2.0                      94    2       13.02           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
6         sub-023            2.0                      92    1       11.38           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
7         sub-024            2.0                      95    2        9.96           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
8         sub-053            2.0                      98    2       12.66           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
9         sub-044            2.0                     126    2       11.49           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
10        sub-034            2.0                      92    2        9.97           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
11        sub-060            2.0                      97    1       10.92           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
12        sub-007            2.0                     128    2       10.32           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
13        sub-027            2.0                     113    2       10.09           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
14        sub-010            2.0                      93    1       10.62           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
Total participants in Control Group: 15

## Final Task

### Subtask:
Summarize the refined selection process, emphasizing the strict T2 participation and task completion requirements. Discuss the demographic characteristics of the newly balanced Math Learning Difficulty and Control Groups, how well the balancing criteria were met, and any limitations or compromises made during this stringent balancing process, including the impact on sample size.

## Summary:

### Q&A
*   **Summarize the refined selection process:** The selection process involved identifying initial candidate pools based on self-reported math struggle and WJ-III Math Fluency scores. This was followed by a critical filtering step that only included participants who fully participated in and completed *all* specified T2 tasks. Finally, a balancing strategy was implemented to select up to 15 participants for each group, prioritizing exact matches for 'sex' and 'handedness', and then the closest possible match for 'age\_ses-T1'.
*   **Emphasize the strict T2 participation and task completion requirements:** A new 'T2\_participated' boolean column was created, and participants were strictly filtered to include only those where 'T2\_participated' was True AND all 'ses-T2\_task-\*' columns indicated 'yes'. This ensured that only individuals with complete T2 data were considered for the final groups.
*   **Discuss the demographic characteristics of the newly balanced Math Learning Difficulty and Control Groups:**
    *   Both the Math Learning Difficulty and Control groups consist of 15 participants each.
    *   The balancing process prioritized exact matches for 'sex' and 'handedness' between the groups.
    *   'age\_ses-T1' was matched by finding the closest possible age difference between paired participants.
    *   All participants in the Math Learning Difficulty Group reported struggling with math ('struggle\_math' == 1) and had a 'WJ-III\_MathFluency\_StS' score less than 90.
    *   All participants in the Control Group reported not struggling with math ('struggle\_math' == 2) and had a 'WJ-III\_MathFluency\_StS' score of 90 or greater.
*   **How well the balancing criteria were met:** The balancing criteria were met to a high degree. All 15 participants in each group were successfully matched. Exact matches were achieved for 'sex' and 'handedness' between the groups. Age was balanced by minimizing age differences.
*   **Any limitations or compromises made during this stringent balancing process, including the impact on sample size:**
    *   The primary limitation was the trade-off between strict matching criteria and the number of available participants.
    *   While the target of 15 participants per group was achieved, the strict T2 task completion requirement significantly reduced the initial candidate pools.
    *   This reduction made it challenging to find perfect demographic matches for all 15 pairs, especially for age, where proximity was optimized rather than exact matches.
    *   The stringent T2 filtering, though crucial for data quality, inherently limited the overall sample size available for group formation.

### Data Analysis Key Findings
*   Initial candidate pools were defined: Math Learning Difficulty candidates had 'struggle\_math' == 1 and 'WJ-III\_MathFluency\_StS' < 90, while Control candidates had 'struggle\_math' == 2 and 'WJ-III\_MathFluency\_StS' \>= 90.
*   A new 'T2\_participated' column was created, correctly indicating True for participants with non-null 'age\_ses-T2' data.
*   A strict filtering process was applied, retaining only candidates who had 'T2\_participated' as True AND completed *all* T2 tasks (all 'ses-T2\_task-\*' columns showed 'yes').
*   The balancing algorithm successfully formed two groups, each with 15 participants, meeting the `max_group_size` requirement.
*   The final balanced groups (Math Learning Difficulty and Control) contained 15 participants each, with exact matches for 'sex' and 'handedness', and closest possible matches for 'age\_ses-T1'.
*   All 30 participants in the final balanced groups were confirmed to have fully participated in and completed all specified T2 tasks.

### Insights or Next Steps
*   The stringent participant selection, particularly the full T2 task completion requirement, significantly enhances the data quality for longitudinal analysis, ensuring that any observed differences between groups are less likely due to missing data.
*   Given the trade-off between strict matching and sample size, future research might consider exploring the impact of slightly relaxed age matching criteria or investigating the initial pool of T2 non-completers to understand reasons for non-participation and potential biases.

# Task
Combine the `balanced_math_group_final` and `balanced_control_group_final` DataFrames, then merge the combined DataFrame with `part_dev_hist_df` on 'participant_id' to include all developmental history questionnaire data, and finally display all characteristics for the selected participants.

## Combine All Relevant Data

### Subtask:
Merge the `balanced_math_group_final` and `balanced_control_group_final` DataFrames. Then, merge this combined DataFrame with `part_dev_hist_df` on 'participant_id' to include all developmental history questionnaire data. The balanced groups already contain selected columns from `wjiii_T1_df` and `participants_df`, so this step will consolidate all available information.

**Reasoning**:
I need to combine the two balanced group DataFrames and then merge the result with the developmental history data.

In [ ]:
combined_groups_df = pd.concat([balanced_math_group_final, balanced_control_group_final], ignore_index=True)

final_merged_df = pd.merge(combined_groups_df, part_dev_hist_df, on='participant_id', how='inner')

print("Combined Groups DataFrame head:")
print(combined_groups_df.head())
print("\nFinal Merged DataFrame head:")
print(final_merged_df.head())
print(f"Shape of combined_groups_df: {combined_groups_df.shape}")
print(f"Shape of final_merged_df: {final_merged_df.shape}")

NameError: name 'pd' is not defined

**Reasoning**:
The previous code failed because 'pd' (pandas) was not defined. I need to re-import pandas to ensure the DataFrame operations can be executed correctly.

In [ ]:
import pandas as pd

combined_groups_df = pd.concat([balanced_math_group_final, balanced_control_group_final], ignore_index=True)

final_merged_df = pd.merge(combined_groups_df, part_dev_hist_df, on='participant_id', how='inner')

print("Combined Groups DataFrame head:")
print(combined_groups_df.head())
print("\nFinal Merged DataFrame head:")
print(final_merged_df.head())
print(f"Shape of combined_groups_df: {combined_groups_df.shape}")
print(f"Shape of final_merged_df: {final_merged_df.shape}")

NameError: name 'balanced_math_group_final' is not defined

**Reasoning**:
The previous code failed because `balanced_math_group_final` and `balanced_control_group_final` were not defined, meaning the cells that generated these dataframes were not executed. I need to re-execute the relevant preceding steps to ensure these variables are available before attempting to concatenate and merge.

In [ ]:
import pandas as pd

# Re-define t2_task_columns (as it might have been cleared with the kernel state)
t2_task_columns = [col for col in participants_df.columns if col.startswith('ses-T2_task-')]

# Re-create balanced_math_group_final and balanced_control_group_final
# This code block is a repeat of a previous successful execution, ensuring the dataframes are defined.
max_group_size = 15

matched_math_rows = []
matched_control_rows = []

# Create copies to allow removal of selected participants without modifying the original filtered DataFrames
math_candidates_temp = math_difficulty_candidates_T2_full.copy()
control_candidates_temp = control_group_candidates_T2_full.copy()

# Define the columns that should be included in the final balanced groups
columns_to_select = ['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns

for index_math, math_participant in math_candidates_temp.iterrows():
    if len(matched_math_rows) >= max_group_size: # Stop if group is full
        break

    best_match_control = None
    min_age_diff = float('inf')

    # Filter control candidates for exact matches on categorical variables (sex, handedness, T2_participated)
    # T2_participated is already True for both candidate pools, but keeping it in for consistency
    filtered_controls = control_candidates_temp[
        (control_candidates_temp['sex'] == math_participant['sex']) &
        (control_candidates_temp['handedness'] == math_participant['handedness']) &
        (control_candidates_temp['T2_participated'] == math_participant['T2_participated'])
    ]

    # If exact matches found on categorical variables, find the one with closest age
    if not filtered_controls.empty:
        for index_control, control_participant in filtered_controls.iterrows():
            age_diff = abs(math_participant['age_ses-T1'] - control_participant['age_ses-T1'])
            if age_diff < min_age_diff:
                min_age_diff = age_diff
                best_match_control = control_participant

    if best_match_control is not None:
        # Add participants to lists
        matched_math_rows.append(math_participant[columns_to_select].to_dict())
        matched_control_rows.append(best_match_control[columns_to_select].to_dict())

        # Remove selected participants from temporary pools by their original index
        math_candidates_temp = math_candidates_temp.drop(index_math)
        control_candidates_temp = control_candidates_temp.drop(best_match_control.name)

# Convert lists of dictionaries to DataFrames
balanced_math_group_final = pd.DataFrame(matched_math_rows, columns=columns_to_select)
balanced_control_group_final = pd.DataFrame(matched_control_rows, columns=columns_to_select)

# Original code to concatenate and merge
combined_groups_df = pd.concat([balanced_math_group_final, balanced_control_group_final], ignore_index=True)

final_merged_df = pd.merge(combined_groups_df, part_dev_hist_df, on='participant_id', how='inner')

print("Combined Groups DataFrame head:")
print(combined_groups_df.head())
print("\nFinal Merged DataFrame head:")
print(final_merged_df.head())
print(f"Shape of combined_groups_df: {combined_groups_df.shape}")
print(f"Shape of final_merged_df: {final_merged_df.shape}")

NameError: name 'participants_df' is not defined

**Reasoning**:
The error `NameError: name 'participants_df' is not defined` indicates that the `participants_df` DataFrame, along with other necessary DataFrames like `math_difficulty_candidates_T2_full` and `control_group_candidates_T2_full`, was not available in the kernel's memory. This typically happens if previous cells generating these DataFrames were not executed or the kernel state was reset. I need to re-execute all the preceding steps that define these DataFrames, including loading the initial data files and performing the filtering and merging operations, to ensure all required variables are properly initialized before attempting to concatenate and merge the final groups.

In [ ]:
import pandas as pd

# --- Reloading necessary data and re-creating dependent DataFrames ---

# Re-define file paths
part_dev_hist_path = "/content/drive/MyDrive/brainmath/ses_T1/developmental_history_questionnaire_sesT1.tsv"
wjiii_T1_path = "/content/drive/MyDrive/brainmath/ses_T1/wj-III_sesT1.tsv"
participant_path = "/content/drive/MyDrive/brainmath/participants.tsv"
wjiii_T2_path = "/content/drive/MyDrive/brainmath/ses_T2/wj-III_sesT2.tsv"

# Re-load DataFrames
participants_df = pd.read_csv(participant_path, sep='\t')
wjiii_T1_df = pd.read_csv(wjiii_T1_path, sep='\t')
part_dev_hist_df = pd.read_csv(part_dev_hist_path, sep='\t')

# Re-identify Math Difficulty Candidates (from cell c9af1c60)
math_struggle_df = part_dev_hist_df[part_dev_hist_df['struggle_math'] == 1]
merged_math_struggle_df = pd.merge(math_struggle_df, wjiii_T1_df, on='participant_id', how='inner')
math_difficulty_candidates = merged_math_struggle_df[merged_math_struggle_df['WJ-III_MathFluency_StS'] < 90]

# Re-identify Control Group Candidates (from cell 078a4c3e)
control_struggle_df = part_dev_hist_df[part_dev_hist_df['struggle_math'] == 2]
merged_control_struggle_df = pd.merge(control_struggle_df, wjiii_T1_df, on='participant_id', how='inner')
control_group_candidates = merged_control_struggle_df[merged_control_struggle_df['WJ-III_MathFluency_StS'] >= 90]

# Prepare Candidate Pools with All Demographics and T2 Task Status (from cell a3a8b8b9)
participants_df['T2_participated'] = participants_df['age_ses-T2'].notna()
t2_task_columns = [col for col in participants_df.columns if col.startswith('ses-T2_task-')]
demographics_and_T2_tasks_df = participants_df[['participant_id', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns]

math_difficulty_candidates_demographics_t2 = pd.merge(
    math_difficulty_candidates,
    demographics_and_T2_tasks_df,
    on='participant_id',
    how='inner'
)

control_group_candidates_demographics_t2 = pd.merge(
    control_group_candidates,
    demographics_and_T2_tasks_df,
    on='participant_id',
    how='inner'
)

# Filter for full T2 participation (from cell bd3af24b)
math_difficulty_candidates_T2_full = math_difficulty_candidates_demographics_t2[
    (math_difficulty_candidates_demographics_t2['T2_participated'] == True) &
    (math_difficulty_candidates_demographics_t2[t2_task_columns] == 'yes').all(axis=1)
]

control_group_candidates_T2_full = control_group_candidates_demographics_t2[
    (control_group_candidates_demographics_t2['T2_participated'] == True) &
    (control_group_candidates_demographics_t2[t2_task_columns] == 'yes').all(axis=1)
]

# Re-create balanced_math_group_final and balanced_control_group_final (from cell 33dc13be)
max_group_size = 15

matched_math_rows = []
matched_control_rows = []

math_candidates_temp = math_difficulty_candidates_T2_full.copy()
control_candidates_temp = control_group_candidates_T2_full.copy()

columns_to_select = ['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns

for index_math, math_participant in math_candidates_temp.iterrows():
    if len(matched_math_rows) >= max_group_size:
        break

    best_match_control = None
    min_age_diff = float('inf')

    filtered_controls = control_candidates_temp[
        (control_candidates_temp['sex'] == math_participant['sex']) &
        (control_candidates_temp['handedness'] == math_participant['handedness']) &
        (control_candidates_temp['T2_participated'] == math_participant['T2_participated'])
    ]

    if not filtered_controls.empty:
        for index_control, control_participant in filtered_controls.iterrows():
            age_diff = abs(math_participant['age_ses-T1'] - control_participant['age_ses-T1'])
            if age_diff < min_age_diff:
                min_age_diff = age_diff
                best_match_control = control_participant

    if best_match_control is not None:
        matched_math_rows.append(math_participant[columns_to_select].to_dict())
        matched_control_rows.append(best_match_control[columns_to_select].to_dict())

        math_candidates_temp = math_candidates_temp.drop(index_math)
        control_candidates_temp = control_candidates_temp.drop(best_match_control.name)

balanced_math_group_final = pd.DataFrame(matched_math_rows, columns=columns_to_select)
balanced_control_group_final = pd.DataFrame(matched_control_rows, columns=columns_to_select)

# --- Original code to concatenate and merge ---
combined_groups_df = pd.concat([balanced_math_group_final, balanced_control_group_final], ignore_index=True)

final_merged_df = pd.merge(combined_groups_df, part_dev_hist_df, on='participant_id', how='inner')

print("Combined Groups DataFrame head:")
print(combined_groups_df.head())
print("\nFinal Merged DataFrame head:")
print(final_merged_df.head())
print(f"Shape of combined_groups_df: {combined_groups_df.shape}")
print(f"Shape of final_merged_df: {final_merged_df.shape}")

Combined Groups DataFrame head:
  participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
0        sub-059            1.0                      77    1       12.91
1        sub-065            1.0                      81    1       10.13
2        sub-067            1.0                      71    2       14.04
3        sub-069            1.0                      84    2       13.21
4        sub-071            1.0                      88    1        8.64

   handedness  T2_participated ses-T2_task-Mult_run-01  \
0           2             True                     yes
1           2             True                     yes
2           2             True                     yes
3           2             True                     yes
4           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
0                     yes                    yes                    yes
1                     yes                    yes                    yes
2                     yes                    yes                    yes
3                     yes                    yes                    yes
4                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0                 yes                    yes                    yes
1                 yes                    yes                    yes
2                 yes                    yes                    yes
3                 yes                    yes                    yes
4                 yes                    yes                    yes

Final Merged DataFrame head:
  participant_id  struggle_math_x  WJ-III_MathFluency_StS  sex  age_ses-T1  \
0        sub-059              1.0                      77    1       12.91
1        sub-065              1.0                      81    1       10.13
2        sub-067              1.0                      71    2       14.04
3        sub-069              1.0                      84    2       13.21
4        sub-071              1.0                      88    1        8.64

   handedness  T2_participated ses-T2_task-Mult_run-01  \
0           2             True                     yes
1           2             True                     yes
2           2             True                     yes
3           2             True                     yes
4           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01  ...  \
0                     yes                    yes  ...
1                     yes                    yes  ...
2                     yes                    yes  ...
3                     yes                    yes  ...
4                     yes                    yes  ...

  father_learning_problems father_speech_problems father_behavioral_problems  \
0                      2.0                    2.0                        2.0
1                      2.0                    1.0                        1.0
2                      2.0                    2.0                        2.0
3                      2.0                    2.0                        2.0
4                      2.0                    2.0                        1.0

  father_medical_problems  father_emotional_problems  \
0                     1.0                        2.0
1                     1.0                        2.0
2                     2.0                        2.0
3                     2.0                        2.0
4                     2.0                        2.0

  father_drug_alcohol_abuse  family_history_learning_problems  \
0                       2.0                               2.0
1                       2.0                               2.0
2                       2.0                               2.0
3                       2.0                               2.0
4                       2.0                               1.0

   family_history_ADD family_history_behavioral_problems  \
0                 2.0                                2.0
1                 2.0                                1.0
2                 2.0                                2.0
3                 2.0                                1.0
4                 1.0                                1.0

   family_history_neurological_problems
0                                   2.0
1                                   2.0
2                                   2.0
3                                   2.0
4                                   1.0

[5 rows x 62 columns]
Shape of combined_groups_df: (30, 14)
Shape of final_merged_df: (30, 62)

**Reasoning**:
The previous step successfully combined the two balanced group DataFrames and merged them with the developmental history data. Now, as per the subtask, I need to display all the characteristics for the selected participants, which is represented by the `final_merged_df`.

In [ ]:
print("\nFinal Merged DataFrame showing all characteristics:")
print(final_merged_df.to_string())

Final Merged DataFrame showing all characteristics:
   participant_id  struggle_math_x  WJ-III_MathFluency_StS  sex  age_ses-T1  handedness  T2_participated ses-T2_task-Mult_run-01 ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02 ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02  speech_delay                                                          speech_delay_explanation  speech_language_therapy  struggle_reading                                                                                                          struggle_reading_explanation  reading_disability_tested reading_disability_diagnosis  tutoring_reading  struggle_math_y  math_disability_tested math_disability_diagnosis  tutoring_math     school_type  regular_classroom                                                                         other_classroom_type  skipped_grades           skipped_grades_other  individual_education_plan/504_plan  learning_preference_teacher  learning_preference_visual  learning_preference_demonstrations  learning_preference_peer-interactions  learning_preference_discussions                                                                                      learning_preference_other primary_language                                          lives_with mother_age mother_occupation  mother_highest_grade  mother_learning_problems  mother_speech_problems  mother_behavioral_problems  mother_medical_problems  mother_emotional_problems  mother_drug_alcohol_abuse father_age father_occupation  father_highest_grade  father_learning_problems  father_speech_problems  father_behavioral_problems  father_medical_problems  father_emotional_problems  father_drug_alcohol_abuse  family_history_learning_problems  family_history_ADD  family_history_behavioral_problems  family_history_neurological_problems
0         sub-059              1.0                      77    1       12.91           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      1.0               2.0                                                                                                                                   NaN                          2                          NaN               2.0              1.0                     2.0                       NaN            2.0      homeschool                2.0                                                                                   homeschool             2.0                            NaN                                 2.0                          2.0                         2.0                                 1.0                                    2.0                              2.0                                                                                                            NaN          English                                        Both Parents      40-44        Unemployed                   5.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0      50-54                23                   5.0                       2.0                     2.0                         2.0                      1.0                        2.0                        2.0                               2.0                 2.0                                 2.0                                   2.0
1         sub-065              1.0                      81    1       10.13           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      2.0               2.0                                                                                                                                   NaN                          2                          NaN               2.0              1.0                     2.0                       NaN            2.0   Public school                1.0                                                                                          NaN             2.0                            NaN                                 1.0                          2.0                         1.0                                 1.0                                    2.0                              1.0                                                                                                            NaN          English                                        Both Parents      40-44        Unemployed                   4.0                       2.0                     2.0                         2.0                      2.0                        1.0                        2.0      45-49                54                   4.0                       2.0                     1.0                         1.0                      1.0                        2.0                        2.0                               2.0                 2.0                                 1.0                                   2.0
2         sub-067              1.0                      71    2       14.04           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      2.0               2.0                                                                                                                                   NaN                          2                          NaN               2.0              1.0                     2.0                       NaN            1.0   Public school                1.0                                                                                          NaN             2.0                            NaN                                 2.0                          2.0                         2.0                                 2.0                                    2.0                              1.0                                                                                                            NaN          English                                        Both Parents      45-49                23                   3.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0      55-59               NaN                   3.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0                               2.0                 2.0                                 2.0                                   2.0
3         sub-069              1.0                      84    2       13.21           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      2.0               2.0                                                                                                                                   NaN                          2                          NaN               2.0              1.0                     2.0                       NaN            1.0  Charter school                1.0                                                                                          NaN             2.0                            NaN                                 2.0                          1.0                         2.0                                 1.0                                    1.0                              1.0                                                                                                            NaN          English                                        Both Parents      40-44                51                   1.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0      35-39                51                   1.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0                               2.0                 2.0                                 1.0                                   2.0
4         sub-071              1.0                      88    1        8.64           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      2.0               2.0  He has had some slight issues during 1st and 2nd grade that were addressed by his being pulled out by the school reading specialist.                          2                          NaN               1.0              1.0                     2.0                       NaN            1.0   Public school                1.0                                                                                          NaN             2.0                            NaN                                 2.0                          2.0                         1.0                                 1.0                                    2.0                              1.0                                                                                                            NaN          English                                        Both Parents      40-44                11                   5.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0      50-54                26                   5.0                       2.0                     2.0                         1.0                      2.0                        2.0                        2.0                               1.0                 1.0                                 1.0                                   1.0
5         sub-075              1.0                      79    2       14.06           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      2.0               2.0                                                                                                                                   NaN                          2                          NaN               2.0              1.0                     2.0                       NaN            1.0  Charter school                1.0                                                                                          NaN             2.0                            NaN                                 2.0                          2.0                         2.0                                 2.0                                    1.0                              2.0  I am not sure but I think she likes to talk to other children all the time and work in groups so she can talk          English                                              Mother      45-49        Unemployed                   4.0                       2.0                     2.0                         2.0                      1.0                        1.0                        2.0      45-49                33                   4.0                       2.0                     2.0                         2.0                      1.0                        1.0                        1.0                               2.0                 2.0                                 2.0                                   2.0
6         sub-076              1.0                      77    1       11.15           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                    slight stutter                      2.0               2.0                                                                                                                              a little                          2                          NaN               2.0              1.0                     2.0                       NaN            2.0   Public school                1.0                                                                                          NaN             2.0                            NaN                                 2.0                          1.0                         1.0                                 2.0                                    2.0                              2.0                                                                                                            NaN          English                                              Father        NaN               NaN                   NaN                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0      50-54               NaN                   1.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0                               2.0                 2.0                                 2.0                                   2.0
7         sub-077              1.0                      80    2        9.94           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      2.0               1.0                                                                                                                              a little                          2                          NaN               2.0              1.0                     2.0                       NaN            2.0   Public school                1.0                                                                                          NaN             1.0             repeated 1st grade                                 2.0                          1.0                         1.0                                 1.0                                    2.0                              2.0                                                                                                            NaN          English                                              Father        NaN               NaN                   NaN                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0      50-54               NaN                   1.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0                               2.0                 2.0                                 2.0                                   2.0
8         sub-078              1.0                      73    2       12.19           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      2.0               1.0                                                                                          she has a hard time rembering what she reads                          2                          NaN               2.0              1.0                     2.0                       NaN            2.0  Charter school                1.0                                                                                          NaN             NaN  she gets extra help at school                                 2.0                          2.0                         2.0                                 2.0                                    1.0                              1.0                                                                                                            NaN          English                                        Both Parents      45-49        Unemployed                   3.0                       2.0                     2.0                         2.0                      2.0                        2.0                        2.0      50-54                93                   2.0                       1.0                     1.0                         2.0                      2.0                        2.0                        2.0                               1.0                 2.0                                 2.0                                   1.0
9         sub-083              1.0                      82    2       11.58           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes           2.0                                                                               NaN                      2.0               2.0                                                                                                                                   NaN                          2                          NaN               2.0              1.0                     2.0                       NaN            1.0   Public school                1.0                                                                                          NaN             1.0                      3rd grade                                 2.0                          2.0                         2.0                                 2.0                                    2.0                              1.0                                                                                                            NaN          English                                                 NaN      25-29        Unemployed                   NaN                       2.0                     2.0                         2.0                      2.0                        1.0                        2.0      30-34                83                   2.0                       1.0                     2.0                         1.0                      2.0                        2.0                        2.0                               2.0                 2.0                                 2.0                                   2.0

## Final Task

### Subtask:
Summarize the refined selection process, emphasizing the strict T2 participation and task completion requirements. Discuss the demographic characteristics of the newly balanced Math Learning Difficulty and Control Groups, how well the balancing criteria were met, and any limitations or compromises made during this stringent balancing process, including the impact on sample size.

## Summary:

### Q&A

*   **Refined Selection Process and Strict T2 Requirements:**
    The selection process began by identifying Math Learning Difficulty candidates based on self-reported math struggle and a WJ-III Math Fluency Standard Score below 90, and Control Group candidates based on no self-reported math struggle and a WJ-III Math Fluency Standard Score of 90 or above. Both groups were then rigorously filtered to include only participants who not only *participated* in T2 but also *completed all tasks* during T2. This stringent requirement ensured that only participants with full T2 data were considered for balancing.
*   **Demographic Characteristics and Balancing Criteria:**
    The balancing aimed to create two groups (Math Learning Difficulty and Control) that were matched based on 'sex', 'handedness', and 'age\_ses-T1'. The process prioritized exact matches for 'sex' and 'handedness', and then selected the control participant with the minimum age difference from the math difficulty participant. The 'T2\_participated' status was also an exact matching criterion. This meticulous approach ensured that the final balanced groups were highly comparable on these key demographic and participation variables.
*   **Limitations and Impact on Sample Size:**
    A key limitation was the predefined `max_group_size` of 15 for each group. While this ensured manageable group sizes, it implies that the stringent filtering for full T2 participation and subsequent matching criteria might have led to a significant reduction in the initial candidate pool. The final balanced groups each contain 15 participants, resulting in a combined sample size of 30. This suggests a compromise where a smaller, highly controlled sample was prioritized over a larger, potentially less balanced one. The matching process stopped once 15 pairs were found, regardless of whether more matches might have been possible.

### Data Analysis Key Findings

*   The strict filtering for full T2 participation and completion of all T2 tasks was applied to both Math Learning Difficulty and Control group candidates.
*   The balancing process successfully matched 15 participants for the Math Learning Difficulty group and 15 for the Control group, based on 'sex', 'handedness', and minimizing age differences.
*   The final combined DataFrame, `final_merged_df`, contains 30 participants and 62 characteristics, including all developmental history questionnaire data, ensuring a comprehensive dataset for further analysis.
*   The process ensured that all participants in the final balanced groups had complete T2 participation and task completion data, enhancing the reliability of future longitudinal analyses.

### Insights or Next Steps

*   The highly balanced and comprehensively characterized dataset of 30 participants is now ready for detailed statistical analysis to explore differences between the Math Learning Difficulty and Control groups, particularly concerning developmental history factors.
*   Given the stringent selection and balancing criteria, it would be valuable to document the total number of participants initially available in the candidate pools before T2 filtering and before balancing, to quantify the impact of the filtering and matching process on the sample size more explicitly.