## Import Libraries

In [8]:
import pandas as pd

## Load Data

In [9]:
part_dev_hist_path = "/Volumes/T9/ds001486/phenotype/ses-T1/developmental_history_questionnaire.tsv"
wjiii_T1_path = "/Volumes/T9/ds001486/phenotype/ses-T1/wj-III.tsv"
participant_path = "/Volumes/T9/ds001486/participants.tsv"
wjiii_T2_path = "/Volumes/T9/ds001486/phenotype/ses-T2/wj-III.tsv"

In [10]:
participants_df = pd.read_csv(participant_path, sep='\t')
participants_df.head()

,participant_id,age_ses-T1,age_ses-T2,sex,handedness,ses-T1_task-Mult_run-01,ses-T1_task-Mult_run-02,ses-T1_task-Num_run-01,ses-T1_task-Num_run-02,ses-T1_task-Rhyming,ses-T1_task-Sub_run-01,ses-T1_task-Sub_run-02,ses-T2_task-Mult_run-01,ses-T2_task-Mult_run-02,ses-T2_task-Num_run-01,ses-T2_task-Num_run-02,ses-T2_task-Rhyming,ses-T2_task-Sub_run-01,ses-T2_task-Sub_run-02
0,sub-001,8.36,10.87,1,1,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes
1,sub-002,9.23,11.28,2,2,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,no,yes,yes
2,sub-003,10.68,NaN,2,2,yes,yes,yes,yes,yes,yes,yes,no,no,no,no,no,no,no
3,sub-004,9.93,NaN,2,2,yes,yes,yes,yes,yes,yes,yes,no,no,no,no,no,no,no
4,sub-005,11.98,14.34,1,2,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes

In [11]:
wjiii_T1_df = pd.read_csv(wjiii_T1_path, sep='\t')
wjiii_T1_df.head()

,participant_id,WJ-III_WordID_Raw,WJ-III_WordID_StS,WJ-III_WA_Raw,WJ-III_WA_StS,WJ-III_PassComp_Raw,WJ-III_PassComp_StS,WJ-III_MathFluency_Raw,WJ-III_MathFluency_StS,WJ-III_SpatialRelations_Raw,WJ-III_SpatialRelations_Letter,WJ-III_SpatialRelations_StS,WJ-III_BRS_StS
0,sub-001,58,123,21,109,33,121,53,112,75,D,130,118
1,sub-002,54,110,23,107,34,118,63,111,71,D,116,116
2,sub-003,63,119,29,116,34,109,65,99,70,D,108,119
3,sub-004,60,117,28,115,34,114,41,83,73,D,118,117
4,sub-005,63,113,27,107,32,98,126,130,70,D,106,111

In [12]:
wjiii_T2_df = pd.read_csv(wjiii_T2_path, sep='\t')
wjiii_T2_df.head()

,participant_id,WJ-III_WordID_Raw,WJ-III_WordID_StS,WJ-III_WA_Raw,WJ-III_WA_StS,WJ-III_PassComp_Raw,WJ-III_PassComp_StS,WJ-III_MathFluency_Raw,WJ-III_MathFluency_StS,WJ-III_SpatialRelations_Raw,WJ-III_SpatialRelations_Letter,WJ-III_SpatialRelations_StS,WJ-III_BRS_Sts
0,sub-001,NaN,NaN,NaN,NaN,NaN,NaN,115.0,131.0,NaN,NaN,NaN,NaN
1,sub-002,NaN,NaN,NaN,NaN,NaN,NaN,56.0,84.0,NaN,NaN,NaN,NaN
2,sub-003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sub-004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sub-005,NaN,NaN,NaN,NaN,NaN,NaN,134.0,119.0,NaN,NaN,NaN,NaN

In [13]:
part_dev_hist_df = pd.read_csv(part_dev_hist_path, sep='\t')
part_dev_hist_df.head()

,participant_id,speech_delay,speech_delay_explanation,speech_language_therapy,struggle_reading,struggle_reading_explanation,reading_disability_tested,reading_disability_diagnosis,tutoring_reading,struggle_math,...,father_learning_problems,father_speech_problems,father_behavioral_problems,father_medical_problems,father_emotional_problems,father_drug_alcohol_abuse,family_history_learning_problems,family_history_ADD,family_history_behavioral_problems,family_history_neurological_problems
0,sub-001,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
1,sub-002,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,sub-003,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,sub-004,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,sub-005,2.0,NaN,2.0,2.0,NaN,2,NaN,2.0,1.0,...,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0

In [14]:
math_struggle_df = part_dev_hist_df[part_dev_hist_df['struggle_math'] == 1]
merged_math_struggle_df = pd.merge(math_struggle_df, wjiii_T1_df, on='participant_id', how='inner')
math_difficulty_candidates = merged_math_struggle_df[merged_math_struggle_df['WJ-III_MathFluency_StS'] < 90]
print("Identified Math Difficulty Candidates:")
print(math_difficulty_candidates.head())

Identified Math Difficulty Candidates:
   participant_id  speech_delay speech_delay_explanation  \
0         sub-004           2.0                      NaN
7         sub-039           2.0                      NaN
11        sub-051           2.0                      NaN
12        sub-052           2.0             ch, TH words
16        sub-059           2.0                      NaN

    speech_language_therapy  struggle_reading  \
0                       2.0               2.0
7                       2.0               2.0
11                      2.0               2.0
12                      2.0               1.0
16                      1.0               2.0

                        struggle_reading_explanation  \
0                                                NaN
7                                                NaN
11                                               NaN
12  She has trouble spelling and sounding out words.
16                                               NaN

    reading_disability_tested reading_disability_diagnosis  tutoring_reading  \
0                           2                          NaN               2.0
7                           2                          NaN               2.0
11                          2                          NaN               2.0
12                          1                no disability               2.0
16                          2                          NaN               2.0

    struggle_math  ...  WJ-III_WA_Raw WJ-III_WA_StS  WJ-III_PassComp_Raw  \
0             1.0  ...             28           115                   34
7             1.0  ...             15            86                   32
11            1.0  ...             21            96                   32
12            1.0  ...             13            86                   32
16            1.0  ...             22            95                   38

   WJ-III_PassComp_StS  WJ-III_MathFluency_Raw WJ-III_MathFluency_StS  \
0                  114                      41                     83
7                   93                      70                     85
11                  98                      57                     79
12                  96                      52                     75
16                 114                      58                     77

    WJ-III_SpatialRelations_Raw WJ-III_SpatialRelations_Letter  \
0                            73                              D
7                            70                              D
11                           70                              D
12                           66                              D
16                           76                              D

    WJ-III_SpatialRelations_StS  WJ-III_BRS_StS
0                           118             117
7                           103              91
11                          106              98
12                           98              85
16                          117             101

[5 rows x 61 columns]

In [15]:
control_struggle_df = part_dev_hist_df[part_dev_hist_df['struggle_math'] == 2]
merged_control_struggle_df = pd.merge(control_struggle_df, wjiii_T1_df, on='participant_id', how='inner')
control_group_candidates = merged_control_struggle_df[merged_control_struggle_df['WJ-III_MathFluency_StS'] >= 90]
print("Identified Control Group Candidates:")
print(control_group_candidates.head())

Identified Control Group Candidates:
  participant_id  speech_delay         speech_delay_explanation  \
0        sub-001           2.0                              NaN
1        sub-002           2.0                              NaN
2        sub-003           2.0                              NaN
3        sub-007           2.0                              NaN
4        sub-008           1.0  IEP Speech Therapy.  "R" sounds

   speech_language_therapy  struggle_reading struggle_reading_explanation  \
0                      2.0               2.0                          NaN
1                      2.0               2.0                          NaN
2                      2.0               2.0                          NaN
3                      2.0               2.0                          NaN
4                      1.0               2.0                          NaN

   reading_disability_tested reading_disability_diagnosis  tutoring_reading  \
0                          2                          NaN               2.0
1                          2                          NaN               2.0
2                          2                          NaN               2.0
3                          2                          NaN               2.0
4                          2                          NaN               2.0

   struggle_math  ...  WJ-III_WA_Raw WJ-III_WA_StS  WJ-III_PassComp_Raw  \
0            2.0  ...             21           109                   33
1            2.0  ...             23           107                   34
2            2.0  ...             29           116                   34
3            2.0  ...             23           103                   33
4            2.0  ...             27           104                   38

  WJ-III_PassComp_StS  WJ-III_MathFluency_Raw WJ-III_MathFluency_StS  \
0                 121                      53                    112
1                 118                      63                    111
2                 109                      65                     99
3                 108                     100                    128
4                 113                      95                    104

   WJ-III_SpatialRelations_Raw WJ-III_SpatialRelations_Letter  \
0                           75                              D
1                           71                              D
2                           70                              D
3                           69                              D
4                           74                              D

   WJ-III_SpatialRelations_StS  WJ-III_BRS_StS
0                          130             118
1                          116             116
2                          108             119
3                          108             111
4                          111             106

[5 rows x 61 columns]

In [16]:
participants_df['T2_participated'] = participants_df['age_ses-T2'].notna()

t2_task_columns = [col for col in participants_df.columns if col.startswith('ses-T2_task-')]
demographics_and_T2_tasks_df = participants_df[['participant_id', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns]

math_difficulty_candidates_demographics_t2 = pd.merge(
    math_difficulty_candidates,
    demographics_and_T2_tasks_df,
    on='participant_id',
    how='inner'
)

control_group_candidates_demographics_t2 = pd.merge(
    control_group_candidates,
    demographics_and_T2_tasks_df,
    on='participant_id',
    how='inner'
)

print("Math Difficulty Candidates with Demographics and T2 Tasks (first 5 rows):")
print(math_difficulty_candidates_demographics_t2.head())
print("\nControl Group Candidates with Demographics and T2 Tasks (first 5 rows):")
print(control_group_candidates_demographics_t2.head())

Math Difficulty Candidates with Demographics and T2 Tasks (first 5 rows):
  participant_id  speech_delay speech_delay_explanation  \
0        sub-004           2.0                      NaN
1        sub-039           2.0                      NaN
2        sub-051           2.0                      NaN
3        sub-052           2.0             ch, TH words
4        sub-059           2.0                      NaN

   speech_language_therapy  struggle_reading  \
0                      2.0               2.0
1                      2.0               2.0
2                      2.0               2.0
3                      2.0               1.0
4                      1.0               2.0

                       struggle_reading_explanation  \
0                                               NaN
1                                               NaN
2                                               NaN
3  She has trouble spelling and sounding out words.
4                                               NaN

   reading_disability_tested reading_disability_diagnosis  tutoring_reading  \
0                          2                          NaN               2.0
1                          2                          NaN               2.0
2                          2                          NaN               2.0
3                          1                no disability               2.0
4                          2                          NaN               2.0

   struggle_math  ...  age_ses-T1 handedness  T2_participated  \
0            1.0  ...        9.93          2            False
1            1.0  ...       13.40          2            False
2            1.0  ...       11.97          2            False
3            1.0  ...       12.45          2             True
4            1.0  ...       12.91          2             True

  ses-T2_task-Mult_run-01  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01  \
0                      no                       no                     no
1                      no                       no                     no
2                      no                       no                     no
3                      no                       no                     no
4                     yes                      yes                    yes

   ses-T2_task-Num_run-02 ses-T2_task-Rhyming  ses-T2_task-Sub_run-01  \
0                      no                  no                      no
1                      no                  no                      no
2                      no                  no                      no
3                      no                  no                      no
4                     yes                 yes                     yes

   ses-T2_task-Sub_run-02
0                      no
1                      no
2                      no
3                      no
4                     yes

[5 rows x 72 columns]

Control Group Candidates with Demographics and T2 Tasks (first 5 rows):
  participant_id  speech_delay         speech_delay_explanation  \
0        sub-001           2.0                              NaN
1        sub-002           2.0                              NaN
2        sub-003           2.0                              NaN
3        sub-007           2.0                              NaN
4        sub-008           1.0  IEP Speech Therapy.  "R" sounds

   speech_language_therapy  struggle_reading struggle_reading_explanation  \
0                      2.0               2.0                          NaN
1                      2.0               2.0                          NaN
2                      2.0               2.0                          NaN
3                      2.0               2.0                          NaN
4                      1.0               2.0                          NaN

   reading_disability_tested reading_disability_diagnosis  tutoring_reading  \
0                          2                          NaN               2.0
1                          2                          NaN               2.0
2                          2                          NaN               2.0
3                          2                          NaN               2.0
4                          2                          NaN               2.0

   struggle_math  ...  age_ses-T1 handedness  T2_participated  \
0            2.0  ...        8.36          1             True
1            2.0  ...        9.23          2             True
2            2.0  ...       10.68          2            False
3            2.0  ...       10.32          2             True
4            2.0  ...       13.14          2             True

  ses-T2_task-Mult_run-01  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01  \
0                     yes                      yes                    yes
1                     yes                      yes                    yes
2                      no                       no                     no
3                     yes                      yes                    yes
4                     yes                      yes                    yes

   ses-T2_task-Num_run-02 ses-T2_task-Rhyming  ses-T2_task-Sub_run-01  \
0                     yes                 yes                     yes
1                     yes                  no                     yes
2                      no                  no                      no
3                     yes                 yes                     yes
4                     yes                 yes                     yes

   ses-T2_task-Sub_run-02
0                     yes
1                     yes
2                      no
3                     yes
4                     yes

[5 rows x 72 columns]

In [17]:
t2_task_columns = [col for col in participants_df.columns if col.startswith('ses-T2_task-')]

# Filter math difficulty candidates for T2 participation and all 'yes' in T2 tasks
math_difficulty_candidates_T2_full = math_difficulty_candidates_demographics_t2[
    (math_difficulty_candidates_demographics_t2['T2_participated'] == True) &
    (math_difficulty_candidates_demographics_t2[t2_task_columns] == 'yes').all(axis=1)
]

# Filter control group candidates for T2 participation and all 'yes' in T2 tasks
control_group_candidates_T2_full = control_group_candidates_demographics_t2[
    (control_group_candidates_demographics_t2['T2_participated'] == True) &
    (control_group_candidates_demographics_t2[t2_task_columns] == 'yes').all(axis=1)
]

print("Math Difficulty Candidates after full T2 filter (first 5 rows):")
print(math_difficulty_candidates_T2_full[['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns].head())

print("\nControl Group Candidates after full T2 filter (first 5 rows):")
print(control_group_candidates_T2_full[['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns].head())

Math Difficulty Candidates after full T2 filter (first 5 rows):
  participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
4        sub-059            1.0                      77    1       12.91
5        sub-065            1.0                      81    1       10.13
6        sub-067            1.0                      71    2       14.04
7        sub-069            1.0                      84    2       13.21
8        sub-071            1.0                      88    1        8.64

   handedness  T2_participated ses-T2_task-Mult_run-01  \
4           2             True                     yes
5           2             True                     yes
6           2             True                     yes
7           2             True                     yes
8           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
4                     yes                    yes                    yes
5                     yes                    yes                    yes
6                     yes                    yes                    yes
7                     yes                    yes                    yes
8                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
4                 yes                    yes                    yes
5                 yes                    yes                    yes
6                 yes                    yes                    yes
7                 yes                    yes                    yes
8                 yes                    yes                    yes

Control Group Candidates after full T2 filter (first 5 rows):
  participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
0        sub-001            2.0                     112    1        8.36
3        sub-007            2.0                     128    2       10.32
4        sub-008            2.0                     104    2       13.14
5        sub-009            2.0                     118    2        8.47
6        sub-010            2.0                      93    1       10.62

   handedness  T2_participated ses-T2_task-Mult_run-01  \
0           1             True                     yes
3           2             True                     yes
4           2             True                     yes
5           2             True                     yes
6           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
0                     yes                    yes                    yes
3                     yes                    yes                    yes
4                     yes                    yes                    yes
5                     yes                    yes                    yes
6                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0                 yes                    yes                    yes
3                 yes                    yes                    yes
4                 yes                    yes                    yes
5                 yes                    yes                    yes
6                 yes                    yes                    yes

In [18]:
max_group_size = 15

matched_math_rows = []
matched_control_rows = []

# Create copies to allow removal of selected participants without modifying the original filtered DataFrames
math_candidates_temp = math_difficulty_candidates_T2_full.copy()
control_candidates_temp = control_group_candidates_T2_full.copy()

# Define the columns that should be included in the final balanced groups
columns_to_select = ['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns

for index_math, math_participant in math_candidates_temp.iterrows():
    if len(matched_math_rows) >= max_group_size: # Stop if group is full
        break

    best_match_control = None
    min_age_diff = float('inf')

    # Filter control candidates for exact matches on categorical variables (sex, handedness, T2_participated)
    # T2_participated is already True for both candidate pools, but keeping it in for consistency
    filtered_controls = control_candidates_temp[
        (control_candidates_temp['sex'] == math_participant['sex']) &
        (control_candidates_temp['handedness'] == math_participant['handedness']) &
        (control_candidates_temp['T2_participated'] == math_participant['T2_participated'])
    ]

    # If exact matches found on categorical variables, find the one with closest age
    if not filtered_controls.empty:
        for index_control, control_participant in filtered_controls.iterrows():
            age_diff = abs(math_participant['age_ses-T1'] - control_participant['age_ses-T1'])
            if age_diff < min_age_diff:
                min_age_diff = age_diff
                best_match_control = control_participant

    if best_match_control is not None:
        # Add participants to lists
        matched_math_rows.append(math_participant[columns_to_select].to_dict())
        matched_control_rows.append(best_match_control[columns_to_select].to_dict())

        # Remove selected participants from temporary pools by their original index
        math_candidates_temp = math_candidates_temp.drop(index_math)
        control_candidates_temp = control_candidates_temp.drop(best_match_control.name)

# Convert lists of dictionaries to DataFrames
balanced_math_group_final = pd.DataFrame(matched_math_rows, columns=columns_to_select)
balanced_control_group_final = pd.DataFrame(matched_control_rows, columns=columns_to_select)

print(f"Balanced Math Learning Difficulty Group size: {len(balanced_math_group_final)}")
print(f"Balanced Control Group size: {len(balanced_control_group_final)}")
print("Balanced Math Learning Difficulty Group (first 5 rows):\n", balanced_math_group_final.head())
print("Balanced Control Group (first 5 rows):\n", balanced_control_group_final.head())

Balanced Math Learning Difficulty Group size: 15
Balanced Control Group size: 15
Balanced Math Learning Difficulty Group (first 5 rows):
   participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
0        sub-059            1.0                      77    1       12.91
1        sub-065            1.0                      81    1       10.13
2        sub-067            1.0                      71    2       14.04
3        sub-069            1.0                      84    2       13.21
4        sub-071            1.0                      88    1        8.64

   handedness  T2_participated ses-T2_task-Mult_run-01  \
0           2             True                     yes
1           2             True                     yes
2           2             True                     yes
3           2             True                     yes
4           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
0                     yes                    yes                    yes
1                     yes                    yes                    yes
2                     yes                    yes                    yes
3                     yes                    yes                    yes
4                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0                 yes                    yes                    yes
1                 yes                    yes                    yes
2                 yes                    yes                    yes
3                 yes                    yes                    yes
4                 yes                    yes                    yes
Balanced Control Group (first 5 rows):
   participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  \
0        sub-090            2.0                     100    1       12.81
1        sub-036            2.0                     100    1       10.12
2        sub-013            2.0                     104    2       13.65
3        sub-008            2.0                     104    2       13.14
4        sub-057            2.0                     108    1        9.54

   handedness  T2_participated ses-T2_task-Mult_run-01  \
0           2             True                     yes
1           2             True                     yes
2           2             True                     yes
3           2             True                     yes
4           2             True                     yes

  ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02  \
0                     yes                    yes                    yes
1                     yes                    yes                    yes
2                     yes                    yes                    yes
3                     yes                    yes                    yes
4                     yes                    yes                    yes

  ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0                 yes                    yes                    yes
1                 yes                    yes                    yes
2                 yes                    yes                    yes
3                 yes                    yes                    yes
4                 yes                    yes                    yes

In [19]:
print("\nFinal Math Learning Difficulty Group:")
print(balanced_math_group_final[['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns].to_string())
print(f"Total participants in Math Learning Difficulty Group: {len(balanced_math_group_final)}")

print("\nFinal Control Group:")
print(balanced_control_group_final[['participant_id', 'struggle_math', 'WJ-III_MathFluency_StS', 'sex', 'age_ses-T1', 'handedness', 'T2_participated'] + t2_task_columns].to_string())
print(f"Total participants in Control Group: {len(balanced_control_group_final)}")

Final Math Learning Difficulty Group:
   participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  handedness  T2_participated ses-T2_task-Mult_run-01 ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02 ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0         sub-059            1.0                      77    1       12.91           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
1         sub-065            1.0                      81    1       10.13           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
2         sub-067            1.0                      71    2       14.04           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
3         sub-069            1.0                      84    2       13.21           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
4         sub-071            1.0                      88    1        8.64           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
5         sub-075            1.0                      79    2       14.06           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
6         sub-076            1.0                      77    1       11.15           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
7         sub-077            1.0                      80    2        9.94           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
8         sub-078            1.0                      73    2       12.19           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
9         sub-083            1.0                      82    2       11.58           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
10        sub-088            1.0                      80    2        9.90           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
11        sub-095            1.0                      76    1       11.33           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
12        sub-096            1.0                      79    2       10.90           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
13        sub-103            1.0                      86    2       10.09           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
14        sub-106            1.0                      74    1       12.22           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
Total participants in Math Learning Difficulty Group: 15

Final Control Group:
   participant_id  struggle_math  WJ-III_MathFluency_StS  sex  age_ses-T1  handedness  T2_participated ses-T2_task-Mult_run-01 ses-T2_task-Mult_run-02 ses-T2_task-Num_run-01 ses-T2_task-Num_run-02 ses-T2_task-Rhyming ses-T2_task-Sub_run-01 ses-T2_task-Sub_run-02
0         sub-090            2.0                     100    1       12.81           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
1         sub-036            2.0                     100    1       10.12           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
2         sub-013            2.0                     104    2       13.65           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
3         sub-008            2.0                     104    2       13.14           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
4         sub-057            2.0                     108    1        9.54           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
5         sub-070            2.0                      94    2       13.02           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
6         sub-023            2.0                      92    1       11.38           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
7         sub-024            2.0                      95    2        9.96           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
8         sub-053            2.0                      98    2       12.66           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
9         sub-044            2.0                     126    2       11.49           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
10        sub-034            2.0                      92    2        9.97           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
11        sub-060            2.0                      97    1       10.92           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
12        sub-007            2.0                     128    2       10.32           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
13        sub-027            2.0                     113    2       10.09           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
14        sub-010            2.0                      93    1       10.62           2             True                     yes                     yes                    yes                    yes                 yes                    yes                    yes
Total participants in Control Group: 15